/* ======================

STYLE SHEET FOR GAMEHUB INC. 

Style list:

1. Global style
    1.1 Base elements
    1.2 Css Variables
    1.3 Sections
2. Typography
3. Components
    3.1 Page wrappers
    3.2 Text areas
        3.2.1 Main Box Layout
        3.2.2 Specific Box Layout
    3.3 Buttons/Links
        3.3.1 Button element
        3.3.2 Anchor element
    3.4 Cards
    3.5 Dropdown menu
    3.6 Table
        3.6.1 Table body
        3.6.2 Table Header
        3.6.3 Table row
        3.6.4 Table data
    3.7 Forms
        3.7.1 Form field
        3.7.2 Labels
        3.7.3 Inputs
    3.8 Span classes
4. Images
5. ID


   ====================== */

/* ======================
    1. GLOBAL STYLE
   ====================== */

* {
    box-sizing: border-box;
}


/* --- 1.1 Base elements --- */

body {
    margin: 0;
    padding: 0;
    background-color: var(--ghub-white);
}

/* header {} */

main {
    background-color: var(--ghub-black);
    margin: 15px;
    border-radius: 0.5em;
}

/* section {} */

address{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 50%;
    font-style: normal;
    padding: 5px;
}

/* div {} */

/* footer {} */

/* --- 1.2 CSS VARIABLES --- */

:root {

    /* ==== Font family ==== */
    --ff-heading: 'Audiowide', Arial, Helvetica, sans-serif;
    --ff-body: 'Oswald', Arial, Helvetica, sans-serif;
    --fw-heading: 700;
    --fw-body: 300;
    --line-height: 1.55;
    /* ==== Font size ==== */
    --fs-h1: 2em;
    --fs-h2: 1.5em;
    --fs-h3: 1.17em;
    --fs-h4: 1em;
    --fs-h5: .83em;
    --fs-h6: .67em;
    --fs-body-lg: 1.125em;
    --fs-body-md: 1.120em;
    --fs-body-sm: 1em;
    --nav-fs: .8rem;
    --link-fs: 1.10rem;

    /* ==== colour variables ==== */

    /* -- Smoky Black -- */
    --ghub-black: #0D0D0D;
    /* -- Anti-Flash White -- */
    --ghub-white: #F2F2F2;
    /* -- Electric Green1 -- */
    --ghub-green: #00FF00;
    /* -- Rhythm -- */
    --ghub-rhythm: #7A778C;
    /* -- Red(pigment) -- */
    --ghub-red: #F21B1B;
    /* -- Anti Flash White */
    --ghub-af: #F2F2F2;
    /* -- Dark Silver -- */
    --ghub-silver: #726c6c;
    /* -- Light periwinkle */
    --ghub-periwinkle: #c5d1d9;


    --shadow: 2px 5px 20px var(--ghub-black);
    --shadow2: 0px 2px 16px 0px var(--ghub-black);
    --shadow3: 0px 0px 10px #dedcdc,
        0px 0px 10px #e6e3e3,
        0px 0px 10px #9c9a9a;
    --shadow4: 0.5rem 0.5rem var(--ghub-green),
        -0.5rem -0.5rem var(--ghub-red);

}


/* --- 1.3 Sections --- */
.section-frame {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--ghub-af);
    border-radius: 0.5em;
}

/* ======================
    2. TYPOGRAPHY
   ====================== */

h1{
    font-family: var(--ff-heading);
    font-size: var(--fs-h1);
    margin: 5px;
}

h2{
    font-family: var(--ff-heading);
    font-size: var(--fs-h2);
    margin: 5px;
}

h3{
    font-family: var(--ff-heading);
    font-size: var(--fs-h3);
    margin: 5px;
}

h4{
    font-family: var(--ff-heading);
    font-size: var(--fs-h4);
    margin: 5px;
}

h5{
    font-family: var(--ff-heading);
    font-size: var(--fs-h5);
    margin: 5px;
}

h6 {
    font-family: var(--ff-heading);
    font-size: var(--fs-h6);
    margin: 5px;
}

p {
    font-family: var(--ff-body);
    font-size: var(--fs-body-md);
    margin: 5px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--ghub-black); 
}

.text-size{
    font-family: var(--ff-heading);
    font-size: var(--fs-h4);
}

.text-p{
    font-family: var(--ff-body);
    font-size: var(--fs-body-sm);
}


/* ======================
    3. COMPONENTS
   ====================== */



/* ----------------------
    3.1 Page Wrappers
   ---------------------- */



/* ----------------------
    3.2 Text areas
   ---------------------- */

/* -- 3.2.1 Main box layout -- */
.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 100%;
    padding: 10px;
    border-radius: 0.5em;
    background-color: var(--ghub-white);
}

.box>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-header {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

.box-content {
    flex: 1 1 100%;
}

.box-content-l,
.box-content-r{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 5px;
    justify-content: flex-start;
    align-items: stretch;
}

.box-left{
    display: flex;
    justify-content: left;
}

.box-right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: stretch;
}

.box-img{
    width: 100%;
}

.box-footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}


/* -- Specific box layout -- */



/* ----------------------
    3.3 Buttons / Links
   ---------------------- */
.btn-a,
.btn-b {
    text-decoration: none;
    padding: 0.35em 1.2em;
    border-radius: 0.25em;
    border: 0.1em solid black;
    cursor: pointer;
    box-shadow: 0px 5px 20px var(--ghub-silver);
}

.btn-a:hover,
.btn-b:hover {
    box-shadow: 0px 10px 20px #4F4D4D;
}


/* --- 3.3.1 Button element --- */
.form-btn{
    background-color: var(--ghub-green);
    color: var(--ghub-black);
    font-size: var(--fs-body-sm);
    font-family: var(--ff-heading);
    width: 100%;
}

.form-btn:hover {
    color: var(--ghub-red);
    background-color: var(--ghub-black);
}

/* --- 3.3.2 Anchor element --- */


/* --- 3.3.3 Links --- */
.general-link {
    text-decoration: none;
    color: var(--ghub-black);
}

.social-link {
    display: inline-flex;
    justify-content: baseline;
    padding: 5px;
    position: relative;
}

.social-link:hover:after {
    content: attr(data-value);
    position: absolute;
    top: 30px;
    left: -10px;
    color: var(--ghub-silver);
    text-shadow: 0 0 3px #ccc;
}

/* ----------------------
    3.4 Cards
   ---------------------- */



/* ----------------------
    3.5 Dropdown menu
   ---------------------- */

/* ----------------------
    3.6 Table
   ---------------------- */
.table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
}

/* --- 3.6.1 Table Header --- */

.thead{
    font-family: var(--ff-heading);
}

/* --- 3.6.2 Table body --- */
.table-body{
    background-color: var(--ghub-af);
}

/* --- 3.6.3 Table row --- */
tr{
    border-bottom: 1px solid var(--ghub-silver);
}

/* --- 3.6.4 Table data --- */

.table-data{
    background-color: var(--ghub-white);
    font-family: var(--ff-body);
    padding: 5px;
}

/* ----------------------
    3.7 Forms
   ---------------------- */
form {
    border: 0;
    width: 100%;
}

.form-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    border-radius: 0.5em;
    background-color: var(--ghub-white);
    border: 1px solid var(--ghub-black);
}

.form-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex: 1 1 100%;
}

.form-box-left,
.form-box-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 50%;
    justify-content: flex-start;
    align-content: stretch;
}

/* --- 3.7.1 Form field --- */

.form-input-area {
    margin: 10px;
}

.checkbox-area{
    display: inline-flex;
}

/* --- 3.7.2 Labels --- */

.form-label {
    background-color: none;
}

.form-label:hover {
    cursor: pointer;
}

.adress-label{
    font-family: var(--ff-body);
    text-decoration: none;
    font-size: var(--fs-body-md);
}

/* --- 3.7.3 Inputs --- */

.form-text-input {
    background-color: white;
    border: 1px solid var(--ghub-black);
    border-radius: 0.5em;
    height: 30px;
    width: 100%;
    padding: 15px;

}

.form-text-input:focus {
    border: none;
    outline: 1px solid var(--ghub-red);
    box-shadow: var(--shadow3);
    height: 30px;
    width: 100%;
    padding: 15px;
}

.form-text-area {
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    border: 1px solid var(--ghub-black);
    border-radius: 0.5em;
    resize: vertical;
}

.form-text-area:focus {
    border: none;
    outline: 1px solid var(--ghub-red);
    box-shadow: var(--shadow3);
    padding: 12px 20px;
}

/* ----------------------
    3.8 Span Classes
   ---------------------- */

/* --- 3.8.1 Vertical --- */
.vertical-line {
    border-right: 1px solid var(--ghub-black);
}

/* ======================
    4. IMG
   ====================== */
.map-img{
    width: 100%;
    border-radius: 5px;
}
    
